.Phonetics {
    margin: 20px 0 0;
}

.Phonetics a {
    border: 1px solid #D8C3A5;
    border-radius: 50px;
    font-size: 14px;
    margin-right: 10px;
    padding: 5px 15px;
    text-decoration: none;
}

.Phonetics .text {
    font-weight: bold;
    opacity: 0.5;
}