.Synonyms {
    margin: 0px 0 20px;
    padding: 0;
}

.Synonyms li {
    display: inline-block;
    font-size: 13px;
    padding-right: 10px;
}

.Synonyms p {
    display: inline-block;
    font-size: 13px;
    padding-right: 10px;
    padding-top: 0;
}

.Synonyms h3 {
    font-size: 34px;
    font-weight: bold;
}

.Synonyms .description {
    line-height: 10px;
}